mixin nav-content()
  ul
    li: a(href="#specials") Акции
    li: a(href="#gifts") Сертификаты
    li: a(href="#advantages") Наши Приемущества
    li: a(href="#prices") Цены
    li: a(href="#portfolio") Портфолио
    li: a(href="#testimonials") Отзывы
    li: a(href="#contact") Контакты

.header-wrap
    header
        h3.logo Гармония Уюта
    
        nav.site-nav
          +nav-content()
    
        .mobile-nav-toggle: span
